.card {
    width: 300px;
    height: 500px;
    margin: 5%;
    display:flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(201, 201, 201);
    border-radius: 2vh;
}

.title {
    margin:3%;
}

.button {
    font-size: large;
    bottom: 0;
    height: 75px;
    width:100%;
    border-radius: 0vh 0vh 2vh 2vh;

    outline: 0;
}

.image {
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    
}