.header {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 78, 8);
    color: rgb(255, 255, 255);
    flex-direction: row; 
    justify-content: center;
    align-content: center;
    height: 80px;
    flex: 1;
    z-index: 10000000000;
    position: fixed;
    width: 100%;
}

.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    background-color: rgb(195, 195, 195);
    padding: 10px;
    min-height: 100vh;
}

.productList {
    background-color: rgb(150, 150, 150);
    flex-wrap: wrap;
    width: 70%;
}

.cashierMenu {
    background-color: rgb(233, 233, 233);
    width: 30%;
    flex-direction: column;
    position: fixed;
    right:0;

}